<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/">Show All Addresses </a> <br />
Title: <span th:text="${addressBook.firstName}"></span> <br />
Instructor: <span th:text="${addressBook.lastName}"></span> <br />
Description: <span th:text="${addressBook.phoneNumber}"></span> <br />
Credit: <span th:text="${addressBook.email}"></span> <br />

<a th:href="@{/delete/{id}(id=${addressBook.id})}">Delete this address </a>



</body>
</html>